{% extends 'base_template.html' %}
{% load static %}

{% block title %} 
{{name}}
{% endblock %}

{% block heading %}Add Recipe{% endblock %}

{% block content %}        
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <h3>Recipe Details</h3>
    {{ form.as_p }}
    
    <h3>Ingredients</h3>
    {{ formset.management_form }}
    {% for form in formset %}
        <div class="ingredient-form">
            {{ ingredient_form.as_p }}
        </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Save Recipe</button>
    <a href="{% url 'ledger:recipe_list' %}"></a>
</form>
    
{% endblock %}