<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recipe Book{% endblock %}</title>
</head>
<body> 
    <div id="content"">
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% elif not user.is_authenticated AND request.path != '/accounts/login/' %}
    <a href="{% url 'login' %}"> Login </a>
{% endif %}
    </form>
        {% block content %}{% endblock %}
    </div>

</body>
</html>