{% extends 'base_template.html' %}
{% load static %}
{% block title %}Recipe Contents:{% endblock %}
{% block heading %}Recipe Contents:{% endblock %}
{% block content %}

<div>
    {{ recipe.name }}
    <img src="{{ recipe.image }}" alt="{{ recipe.description }}">
    {{ recipe.image }}
</div>
    <a><br>Ingredients:</a>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.quantity }} of {{ ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}