{% extends 'base_template.html' %}
{% load static %}
{% block title %}Recipe Contents:{% endblock %}
{% block heading %}Recipe Contents:{% endblock %}
{% block content %}

<div>
    <b>{{ recipe.name }}</b>
    <p>Author: {{recipe.author.username}}</p>
    <p>Created on: {{ recipe.created_on }} Last updated: {{ recipe.last_update_on }}</p>
    <img src="{{ recipe.image.url }}" alt="{{ recipe.description }}">
</div>

<h3>Images of {{ recipe.name }}:</h3>
{% for img in recipe.images.all %}
    {% if image.recipe.id == recipe.id %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endif %}
{% endfor %}
</h3>

    <a><br>Ingredients:</a>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.quantity }} of {{ ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}